<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="../../../static/css/page.css" rel="stylesheet" type="text/css">
</head>
<body>

<div th:fragment="content">
  <h3 class="page-title">Productos <a th:href="@{'/product/create'}"  class="btn btn-outline-success"><i class="bi bi-plus"></i></a>
  </h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id (Solo prueba, no se debe poner)</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
      <th scope="row" th:text="${product.id}"></th>
      <td th:text="${product.name}"></td>
      <td th:text="${product.price}"></td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
        <a th:href="@{'/product/update/'+ ${product.id}}" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i></a>
        <a th:href="@{'/product/delete/'+ ${product.id}}"  class="btn btn-outline-danger"><i class="bi bi-bucket"></i></a>
        </div>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</body>
</html>