<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="content">
  <h3 class="page-title divider">Modificar Producto</h3>
  <div class="form-container">
    <form action="#" method="post" th:object="${product}" th:action="@{'/product/update/' + *{id}}">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" th:field="*{name}" id="nombre" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="text" class="form-control" th:field="*{price}"  id="price" placeholder="name@example.com">
      </div>
        <div class="btn-group form-buttons" role="group" aria-label="Basic outlined example">
          <button type="submit" class="btn btn-outline-primary"><i class="bi bi-check"></i> Aceptar</button>
          <a th:href="@{/product}" type="button" class="btn btn-outline-danger"><i class="bi bi-x"></i> Cancelar</a>
        </div>
    </form>
  </div>
</div>
</body>
</html>